services/backend/functions/processor/step-function-definition.json
{"Comment":"Step Function para procesar archivos Excel y calcular factor de redondeo","StartAt":"ValidarEntrada","States":{"ValidarEntrada":{"Type":"Choice","Choices":[{"Variable":"$.s3Bucket","IsPresent":true,"Next":"lambda-processor"}],"Default":"EntradaInvalida"},"lambda-processor":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"arn:aws:lambda:us-east-1:975130647458:function:factor-redondeo-lambda-dev-processor:$LATEST","Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"Next":"lambda-status-checker"},"lambda-status-checker":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"arn:aws:lambda:us-east-1:975130647458:function:factor-redondeo-lambda-dev-status-checker:$LATEST","Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"Next":"lambda-download-result"},"lambda-download-result":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"arn:aws:lambda:us-east-1:975130647458:function:factor-redondeo-lambda-dev-download-result:$LATEST","Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"End":true},"EntradaInvalida":{"Type":"Fail","Error":"BadRequest","Cause":"s3Bucket is missing or empty"}}}
